#!/bin/bash

# logging function
source {{ homestack_backup_script_path }}/container_backup_common.sh

# Stop evcc container
if ! docker ps --filter name=evcc | grep -q "evcc"
then
    docker stop evcc && log_message "Stopped evcc container" default
fi

# Restore restic snapshot
if ! autorestic restore -l evcc --from backblaze --to "{{ appdata_path }}/evcc/" latest:"{{ appdata_path }}/evcc/.zfs/snapshot/restic"
then
    log_message "Failed to restore restic snapshot"
    exit 1
fi

# Start evcc container
if ! docker start evcc
then
    log_message "Failed to start evcc container" default
    exit 1
fi

log_message "Restore successful"
