---
- name: Ensure destination for compose file exists
  ansible.builtin.file:
    path: "{{ homestack_output_path }}"
    state: directory
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0755"

- name: Ensure traefik config directory exists
  ansible.builtin.file:
    path: "{{ homestack_traefik_base_path }}"
    state: directory
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0755"

- name: Write traefik static configuration
  ansible.builtin.template:
    src: "traefik.yml.j2"
    dest: "{{ homestack_traefik_base_path }}/traefik.yml"
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0600"
    backup: true

- name: Write traefik dynamic configuration
  ansible.builtin.template:
    src: "config.yml.j2"
    dest: "{{ homestack_traefik_base_path }}/config.yml"
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0600"
    backup: true

- name: Write traeffik docker-compose file
  ansible.builtin.template:
    src: "docker-compose-traefik.yml.j2"
    dest: "{{ homestack_output_path }}/docker-compose-traefik.yml"
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0600"
    backup: true

- name: Include nextcloud stack tasks
  ansible.builtin.include_tasks: nextcloud.yml
  when: homestack_nextcloud_active

- name: Include monitoring stack tasks
  ansible.builtin.include_tasks: monitoring.yml
  when: homestack_monitoring_active

- name: Include home automation stack tasks
  ansible.builtin.include_tasks: ha.yml
  when: homestack_ha_active

- name: Include vwsfriend stack tasks
  ansible.builtin.include_tasks: vwsfriend.yml
  when: homestack_vwsfriend_active

- name: Include git stack tasks
  ansible.builtin.include_tasks: git.yml
  when: homestack_git_active

- name: Include backup tasks
  ansible.builtin.include_tasks: backup.yml
  when: homestack_backup
