---
- name: nextcloud | Ensure nextcloud directories exist
  ansible.builtin.file:
    path: "{{ homestack_nextcloud_base_path }}/{{ item.name }}"
    state: directory
    owner: "{{ homestack_nextcloud_user }}"
    group: "{{ homestack_nextcloud_group }}"
    mode: "{{ item.mode }}"
  with_items:
    - name: custom_apps
      mode: "0750"
    - name: data
      mode: "0770"
    - name: config
      mode: "0750"

- name: nextcloud | Check if version tracking files exist
  ansible.builtin.stat:
    path: "{{ homestack_nextcloud_base_path }}/{{ item }}"
  register: nextcloud_version_files
  with_items:
    - version.php
    - nextcloud-init-sync.lock

- name: nextcloud | Create version tracking files if they don't exist
  ansible.builtin.file:
    path: "{{ item.item }}"
    state: touch
    owner: "{{ homestack_nextcloud_user }}"
    group: "{{ homestack_nextcloud_group }}"
    mode: "0644"
  when: not item.stat.exists
  with_items: "{{ nextcloud_version_files.results }}"
  loop_control:
    label: "{{ item.item }}"

- name: nextcloud | Copy nextcloud specific files to their respective directories
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ homestack_nextcloud_base_path }}/{{ item | basename }}"
    owner: "{{ homestack_nextcloud_user }}"
    group: "{{ homestack_nextcloud_group }}"
    mode: "0600"
    backup: true
  with_fileglob:
    - nextcloud/*.ini
    - nextcloud/*.conf

- name: nextcloud | Copy cron.sh for nextcloud
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ homestack_nextcloud_base_path }}/{{ item | basename }}"
    owner: "{{ homestack_nextcloud_user }}"
    group: "{{ homestack_nextcloud_group }}"
    mode: "0750"
    backup: true
  with_fileglob:
    - nextcloud/*.sh

- name: nextcloud | Write docker-compose file
  ansible.builtin.template:
    src: "docker-compose-nextcloud.yml.j2"
    dest: "{{ homestack_output_path }}/docker-compose-nextcloud.yml"
    owner: "{{ homestack_uid }}"
    group: "{{ homestack_gid }}"
    mode: "0600"
    backup: true
