{{ ansible_managed | comment }}
---
services:
  vwsfriend:
    container_name: vwsfriend
    depends_on:
      vwsfriend-db:
        condition: service_healthy
    environment:
      VWSFRIEND_USERNAME: "{{ homestack_vwsfriend_username }}"
      VWSFRIEND_PASSWORD: "{{ homestack_vwsfriend_password }}"
      WECONNECT_USER: "{{ homestack_vwsfriend_weconnect_user }}"
      WECONNECT_PASSWORD: "{{ homestack_vwsfriend_weconnect_password | replace('$', '$$') }}"
      WECONNECT_SPIN: "{{ homestack_vwsfriend_weconnect_spin }}"
      WECONNECT_INTERVAL: "{{ homestack_vwsfriend_weconnect_interval }}"
      DATABASE_URL: "postgresql://{{ homestack_vwsfriend_db_user }}:{{ homestack_vwsfriend_db_password }}@vwsfriend-db:5432/{{ homestack_vwsfriend_db_name }}"
      ADDITIONAL_PARAMETERS: "--with-database --with-abrp {{ homestack_vwsfriend_additional_parameters }}"
    healthcheck:
      test: (wget -qO- http://localhost:4000/healthcheck | grep "ok" -q) || exit 1
      interval: 10s
      timeout: 3s
      retries: 3
    image: tillsteinbach/vwsfriend:{{ homestack_vwsfriend_image_version }}
    labels:
      traefik.enable: true
      traefik.docker.network: traefik-net
      traefik.http.routers.vwsfriend.rule: "Host(`vwsfriend.{{ homestack_vwsfriend_base_domain }}`)"
      traefik.http.routers.vwsfriend.entrypoints: websecure
      traefik.http.routers.vwsfriend.tls.options: modern@file
    networks:
      - traefik
      - vwsfriend
    restart: unless-stopped
    user: "{{ homestack_uid }}:{{ homestack_gid }}"
    volumes:
      - "{{ homestack_vwsfriend_base_path }}/config:/config"

  vwsfriend-db:
    container_name: vwsfriend-db
    environment:
      POSTGRES_USER: "{{ homestack_vwsfriend_db_user }}"
      POSTGRES_PASSWORD: "{{ homestack_vwsfriend_db_password }}"
      POSTGRES_DB: "{{ homestack_vwsfriend_db_name }}"
      TZ: "UTC"
      PGTZ: "UTC"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -p 5432 --username={{ homestack_vwsfriend_db_user }} --dbname={{ homestack_vwsfriend_db_name }}"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:{{ homestack_vwsfriend_postgres_image_version }}
    networks:
      - vwsfriend
    user: "{{ homestack_uid }}:{{ homestack_gid }}"
    restart: unless-stopped
    volumes:
      - "{{ homestack_vwsfriend_base_path }}/db:/var/lib/postgresql/data"

  grafana:
    container_name: vwsfriend-grafana
    environment:
      GF_SECURITY_ADMIN_USER: "{{ homestack_vwsfriend_username }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ homestack_vwsfriend_password }}"
      GF_LOG_LEVEL: info
      GF_LOG_MODE: console
      DB_USER: "{{ homestack_vwsfriend_db_user }}"
      DB_PASSWORD: "{{ homestack_vwsfriend_db_password }}"
      DB_HOSTNAME: "vwsfriend-db"
      DB_PORT: "5432"
      DB_NAME: "{{ homestack_vwsfriend_db_name }}"
      VWSFRIEND_USERNAME: "{{ homestack_vwsfriend_username }}"
      VWSFRIEND_PASSWORD: "{{ homestack_vwsfriend_password }}"
      VWSFRIEND_HOSTNAME: "vwsfriend"
      VWSFRIEND_PORT: 4000
    healthcheck:
      test: ["CMD", "wget", "-O", "/dev/null", "http://localhost:3000"]
      interval: 10s
      timeout: 15s
      retries: 10
      start_period: 30s 
    image: tillsteinbach/vwsfriend-grafana:{{ homestack_vwsfriend_grafana_version }}
    labels:
      traefik.enable: true
      traefik.docker.network: traefik-net
      traefik.http.routers.vwsfriend-grafana.rule: "Host(`vwsfriend-grafana.{{ homestack_vwsfriend_base_domain }}`)"
      traefik.http.routers.vwsfriend-grafana.entrypoints: websecure
      traefik.http.routers.vwsfriend-grafana.tls.options: modern@file
    networks:
      - traefik
      - vwsfriend
    restart: unless-stopped
    user: "{{ homestack_uid }}:{{ homestack_gid }}"
    volumes:
      - "{{ homestack_vwsfriend_base_path }}/grafana:/var/lib/grafana"

networks:
  traefik:
    name: traefik-net
    external: true
  vwsfriend:
    name: ha-net
    internal: true
    ipam:
      config:
        - subnet: 172.20.5.0/24
