{{ ansible_managed | comment }}
---
services:
  nextcloud:
    container_name: nextcloud
    depends_on:
      nc-db:
        condition: service_healthy
      nc-redis:
        condition: service_healthy
    devices:
      - /dev/dri:/dev/dri
    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: "{{ homestack_nextcloud_mysql_password }}"
      MYSQL_HOST: nc-db
      NEXTCLOUD_ADMIN_USER: "{{ homestack_nextcloud_admin_user }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ homestack_nextcloud_admin_password }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.{{ homestack_nextcloud_base_domain }}"
      SMTP_HOST: "{{ homestack_nextcloud_smtp_host }}"
      SMTP_SECURE: tls # tls | ssl | <empty>  
      SMTP_PORT: 587
      SMTP_AUTHTYPE: PLAIN # LOGIN | PLAIN | CRAM-MD5 | <empty>
      SMTP_NAME: "{{ homestack_nextcloud_smtp_name }}"
      SMTP_PASSWORD: "{{ homestack_nextcloud_smtp_password }}"
      MAIL_FROM_ADDRESS: notify # local-part for the 'from' field in the emails sent by Nextcloud
      MAIL_DOMAIN: "nextcloud.{{ homestack_nextcloud_base_domain }}"
      PHP_MEMORY_LIMIT: 1024M # 512M is the minimum recommended by Nextcloud
      PHP_UPLOAD_LIMIT: 1024M # 512M is the minimum recommended by Nextcloud
      # APACHE_DISABLE_REWRITE_IP: 1  # using empty remoteip.conf
      TRUSTED_PROXIES: 172.20.1.2
      OVERWRITECLIURL: "https://nextcloud.{{ homestack_nextcloud_base_domain }}"
      REDIS_HOST: nc-redis
    healthcheck:
      test: curl -sSf 'http://localhost/status.php' | grep '"installed":true' | grep '"maintenance":false' | grep '"needsDbUpgrade":false' || exit 1
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 10
    image: nextcloud:{{ homestack_nextcloud_image_version }}
    labels:
      traefik.enable: true
      traefik.http.middlewares.nextcloud_redirect.redirectregex.permanent: true
      traefik.http.middlewares.nextcloud_redirect.redirectregex.regex: "https://(.*)/.well-known/(?:card|cal)dav"
      traefik.http.middlewares.nextcloud_redirect.redirectregex.replacement: "https://$${1}/remote.php/dav"
      traefik.http.middlewares.nextcloud_sameorigin.headers.customFrameOptionsValue: sameorigin
      traefik.http.routers.nextcloud.rule: "Host(`nextcloud.{{ homestack_nextcloud_base_domain }}`)"
      traefik.http.routers.nextcloud.entrypoints: websecure
      traefik.http.routers.nextcloud.middlewares: nextcloud_redirect,nextcloud_sameorigin,default@file
      traefik.http.routers.nextcloud.tls.options: modern@file
      traefik.http.routers.nextcloud.priority: 10  # for notify_push
      traefik.docker.network: traefik-net
    networks:
      - traefik
      - nextcloud
    restart: unless-stopped
    user: "{{ homestack_nextcloud_uid }}:{{ homestack_nextcloud_gid }}"
    volumes:
      - "{{ homestack_nextcloud_base_path }}/custom_apps:/var/www/html/custom_apps"
      - "{{ homestack_nextcloud_base_path }}/data:/var/www/html/data"
      - "{{ homestack_nextcloud_base_path }}/config:/var/www/html/config"
      - "{{ homestack_nextcloud_base_path }}/cron.sh:/cron.sh:ro"
      - "{{ homestack_nextcloud_base_path }}/remoteip.conf:/etc/apache2/conf-available/remoteip.conf:ro"
      - "{{ homestack_nextcloud_base_path }}/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini"
  notify_push:
    container_name: nc-notify-push
    depends_on:
      - nextcloud
    entrypoint: /var/www/html/custom_apps/notify_push/bin/x86_64/notify_push /var/www/html/config/config.php
    environment:
      PORT: 7867
      NEXTCLOUD_URL: http://nextcloud  # don't go through the proxy to contact the nextcloud server
    image: nextcloud:{{ homestack_nextcloud_image_version }}
    labels:
      traefik.enable: true
      traefik.http.routers.nextcloud_notify_push.entrypoints: websecure
      traefik.http.routers.nextcloud_notify_push.tls.options: modern@file
      traefik.http.routers.nextcloud_notify_push.priority: 11
      # necessary for the notify_push app to work:
      traefik.http.routers.nextcloud_notify_push.rule: "Host(`nextcloud.{{ homestack_nextcloud_base_domain }}`) && PathPrefix(`/push`)"
    networks:
      - traefik
      - nextcloud
    restart: unless-stopped
    user: "{{ homestack_nextcloud_uid }}:{{ homestack_nextcloud_gid }}"
    volumes:
      - "{{ homestack_nextcloud_base_path }}/custom_apps:/var/www/html/custom_apps"
      - "{{ homestack_nextcloud_base_path }}/config:/var/www/html/config"
  cron:
    container_name: nc-cron
    depends_on:
      - nextcloud
    entrypoint: /cron.sh
    environment:
      # special UID handling https://github.com/nextcloud/docker/issues/1740
      UID: "{{ homestack_nextcloud_uid }}"
      GID: "{{ homestack_nextcloud_gid }}"
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: "{{ homestack_nextcloud_mysql_password }}"
      MYSQL_HOST: nc-db
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.{{ homestack_nextcloud_base_domain }}"
      SMTP_HOST: "{{ homestack_nextcloud_smtp_host }}"
      SMTP_SECURE: tls # tls | ssl | <empty>
      SMTP_PORT: 587
      SMTP_AUTHTYPE: PLAIN # LOGIN | PLAIN | CRAM-MD5 | <empty>
      SMTP_NAME: "{{ homestack_nextcloud_smtp_name }}"
      SMTP_PASSWORD: "{{ homestack_nextcloud_smtp_password }}"
      MAIL_FROM_ADDRESS: notify # local-part for the 'from' field in the emails sent by Nextcloud
      MAIL_DOMAIN: "nextcloud.{{ homestack_nextcloud_base_domain }}"
      PHP_MEMORY_LIMIT: 1024M # 512M is the minimum recommended by Nextcloud
      PHP_UPLOAD_LIMIT: 1024M # 512M is the minimum recommended by Nextcloud
      # APACHE_DISABLE_REWRITE_IP: 1  # using empty remoteip.conf
      TRUSTED_PROXIES: 172.20.1.2
      OVERWRITECLIURL: "https://nextcloud.{{ homestack_nextcloud_base_domain }}"
      REDIS_HOST: nc-redis
    healthcheck:
      test: pgrep busybox
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 10
    image: nextcloud:{{ homestack_nextcloud_image_version }}
    networks:
      - traefik
      - nextcloud
    restart: unless-stopped
    volumes_from:
      - nextcloud:rw
  nc-db:
    command:
      - --datadir=/var/lib/mysql/data
      - --innodb-log-group-home-dir=/var/lib/mysql/log
      - --transaction-isolation=READ-COMMITTED
      - --log-bin=binlog
      - --binlog-format=MIXED
      - --sync-binlog=0
      - --skip-innodb-doublewrite
      - --innodb-flush-neighbors=0
      - --innodb-use-native-aio=0
      - --innodb-use-atomic-writes=0
      - --innodb-compression-default=0
      - --innodb-flush-log-at-trx-commit=0
      - --innodb-file-per-table
      - --innodb-io-capacity=1000
      - --innodb-io-capacity-max=2500
      # https://kitcharoenp.github.io/mysql/zfs/mariadb/2021/10/18/zfs-tunning-optimization.html#mysql-tuning-and-optimization-for-zfs
    container_name: nc-db
    environment:
      MARIADB_ROOT_PASSWORD: "{{ homestack_nextcloud_mysql_root_password }}"
      MARIADB_DATABASE: nextcloud
      MARIADB_USER: nextcloud
      MARIADB_PASSWORD: "{{ homestack_nextcloud_mysql_password }}"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--defaults-extra-file=/var/lib/mysql/data/.my-healthcheck.cnf", "--connect", "--innodb_initialized"]
      start_period: 15s
      interval: 10s
      timeout: 5s
      retries: 5
    image: mariadb:{{ homestack_nextcloud_mariadb_version }}
    networks:
      - nextcloud
    restart: unless-stopped
    volumes:
      - "{{ homestack_nextcloud_mysql_path }}/nc-db:/var/lib/mysql"
  ###
  nc-redis:
    container_name: nc-redis
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 5s
      interval: 10s
      timeout: 3s
      retries: 3
    image: redis:{{ homestack_nextcloud_redis_version }}
    networks:
      - nextcloud
    restart: unless-stopped
    # doesn't work so far :(
    #user: ${UID}:${GID}
  ###

networks:
  traefik:
    name: traefik-net
    external: true
  nextcloud:
    name: nextcloud-net
    internal: true
    ipam:
      config:
        - subnet: 172.20.2.0/24
