{{ ansible_managed | comment }}
---
services:
  traefik:
    container_name: traefik
    image: traefik:{{ homestack_traefik_version }}
    environment:
      HOSTINGDE_API_KEY: "{{ homestack_traefik_hostingde_api_key }}"
      HOSTINGDE_ZONE_NAME: "{{ homestack_traefik_hostingde_domain }}"
      TZ: Europe/Berlin
    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 3
    labels:
      traefik.enable: true

      # catch all traefik errors
      traefik.http.routers.globalerrorpage.rule: "HostRegexp(`{.+}`)"
      traefik.http.routers.globalerrorpage.entrypoints: websecure
      traefik.http.routers.globalerrorpage.service: error-pages-service
      traefik.http.routers.globalerrorpage.priority: "1"

      # api secure
      traefik.http.routers.traefik.rule: "Host(`traefik.{{ homestack_traefik_base_domain }}`)"
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.middlewares: default@file
      traefik.http.routers.traefik.tls.options: modern@file

      # ping secure
      traefik.http.routers.ping.rule: "Host(`traefik.{{ homestack_traefik_base_domain }}`) && PathPrefix(`/ping`)"
      traefik.http.routers.ping.entrypoints: websecure
      traefik.http.routers.ping.middlewares: default@file
      traefik.http.routers.ping.service: ping@internal
      traefik.http.routers.ping.tls.options: modern@file
    networks:
      traefik:
        ipv4_address: 172.20.1.2
    ports:
      - 80:80
      - 443:443
      - 2222:2222
      - 8883:8883
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ homestack_traefik_base_path }}:/etc/traefik"

  error-pages:
    container_name: error-pages
    environment:
      TEMPLATE_NAME: "{{ homestack_error_pages_theme }}"
    image: ghcr.io/tarampampam/error-pages:{{ homestack_error_pages_version }}
    labels:
      traefik.enable: true
      traefik.http.routers.error-pages-router.rule: "HostRegexp(`{.+}`)"
      traefik.http.routers.error-pages-router.priority: 1
      traefik.http.routers.error-pages-router.entrypoints: websecure
      traefik.http.routers.error-pages-router.middlewares: error-pages-middleware
      traefik.http.middlewares.error-pages-middleware.errors.status: "400-599"
      traefik.http.middlewares.error-pages-middleware.errors.service: error-pages-service
      traefik.http.middlewares.error-pages-middleware.errors.query: "/{status}.html"
      traefik.http.services.error-pages-service.loadbalancer.server.port: 8080
    networks:
      - traefik
    depends_on:
      - traefik

networks:
  traefik:
    name: traefik-net
    ipam:
      config:
        - subnet: 172.20.1.0/24
