network:
  schema: https
  host: "evcc.{{ homestack_ha_base_domain }}"
  port: 7070

log: debug
levels:
  cache: error

# unique installation id
plant: "{{ homestack_ha_evcc_installation_id }}"

interval: 30s # control cycle interval

meters:
- type: template
  template: kostal-plenticore 
  id: 71  
  host: sol  
  port: 1502  
  usage: pv  
  modbus: tcpip  
  name: plenticore
- type: template
  template: kostal-plenticore 
  id: 71  
  host: sol  
  port: 1502  
  usage: battery  
  modbus: tcpip  
  name: byd

- type: template
  template: kostal-ksem
  id: 71
  host: korvan
  port: 502
  usage: grid
  modbus: tcpip
  name: ksem

chargers:
- type: template
  template: tinkerforge-warp3-smart
  host: tls://mosquitto.{{ homestack_ha_base_domain }}
  port: 8883  
  topic: warp  
  timeout: 30s  
  name: warp3
  user: "{{ homestack_ha_evcc_mqtt_user }}"
  password: "{{ homestack_ha_evcc_mqtt_password }}"

vehicles:
- type: template
  template: vw 
  user: "{{ homestack_ha_evcc_vw_user }}"
  password: "{{ homestack_ha_evcc_vw_password }}"
  vin: "{{ homestack_ha_evcc_vw_vin }}"
  title: ID.3  
  capacity: 58  
  timeout: 10s  
  name: id3
  cache: 5m

loadpoints:
- title: Fahrradhäuschen
  charger: warp3
  vehicle: id3
  mode: pv
  enable:
    threshold: 0  # minimum export power (W)
    delay: 1m
  disable:
    threshold: 200  # maximum import power (W)
    delay: 3m
  phases: 0
  minCurrent: 5
  maxCurrent: 16

site:
  title: Zuhause
  residualPower: 200
  meters:
    grid: ksem
    pv:
    - plenticore
    battery:
    - byd

messaging:
  events:
    start:
      title: ⚡️ Charge started
      msg: Started charging in "${mode}" mode
    stop:
      title: ✅ Charge finished
      msg: Finished charging ${chargedEnergy:%.1fk}kWh in ${chargeDuration}.
    connect:
      title: 🔌 Car connected
      msg: "Car connected at ${pvPower:%.1fk}kW PV"
    disconnect:
      title: 🔌 Car disconnected
      msg: Car disconnected after ${connectedDuration}
    soc:
      title: 🔋 SOC updated
      msg: Battery charged to ${vehicleSoc:%.0f}%
    guest:
      title: ❓ Unknown vehicle
      msg: Unknown vehicle, guest connected?

  services:
  - type: ntfy
    uri: "{{ homestack_ha_evcc_ntfy_uri }}"
    priority: default
    tags: id3

tariffs:
  currency: EUR
  grid:
    type: fixed
    price: {{ homestack_ha_evcc_grid_costs }} # EUR/kWh
  feedin:
    type: fixed
    price: {{ homestack_ha_evcc_feedin_revenue }} # EUR/kWh