#!/bin/bash

# Function to write log messages
log_message() {
    local log_file="/var/log/autorestic_backup.log"
    local valid_priorities=(min low default high urgent)
    local priority="default"

    # Validate the second parameter
    for valid_priority in "${valid_priorities[@]}"; do
        if [[ "$valid_priority" == "$2" ]]; then
            priority="$2"
            break
        fi
    done

    echo "$(date +"%Y-%m-%d %H:%M:%S") $1" | tee -a "$log_file"
    curl -H "X-Priority: ${priority}" -d "$1" {{ autorestic_ntfy_topic }}
}

