name: ansible-lint
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint Ansible Playbook
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@43e758bad47344f1ce7b699c0020299f486a8026 # v25

      - name: Upload Sarif file
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4
        with:
          sarif_file: ansible-lint.sarif
        if: always()
