name: ansible-lint
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint Ansible Playbook
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@d7cd7cfa2469536527aceaef9ef2ec6f2fb331cb # v25

      - name: Upload Sarif file
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4
        with:
          sarif_file: ansible-lint.sarif
        if: always()
