name: Release
on:
  workflow_dispatch:
  release:
    types: [published]

env:
  GALAXY_USERNAME: micxer

jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:

      - name: Set up Python 3.
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.14.3'

      - name: Install Ansible.
        run: pip3 install ansible-core

      # Transforms repository name to Ansible Galaxy role naming convention
      # Extracts repo name, removes "ansible-role-" prefix, converts hyphens to underscores
      - name: Trigger a new import on Galaxy.
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GALAXY_API_KEY: ${{ secrets.GALAXY_API_KEY }}
        run: |
          REPO="$(echo "$GITHUB_REPOSITORY" | cut -d/ -f2)"
          ROLE_NAME="$(echo "${REPO#ansible-role-}" | tr '-' '_')"
          ansible-galaxy role import --token "$GALAXY_API_KEY" \
          --branch main --role-name "$ROLE_NAME" \
          ${{ env.GALAXY_USERNAME }} "$REPO"
